/server/web/bootstrap/compiled.php
/vendor
/server/web/vendor
/server/web/workbench
.DS_Store
Thumbs.db
/nbproject
.idea
.settings
/asterisk
/logs
.asterisk_history
.INSTALLED
.bash_history
.viminfo
.composer
.ssh
.run
server/web/public/uploads
server/web/public/info.php
server/node/event.pid
server/node/manager.pid
server/node/chat.pid
server/node/agi.pid
server/node/Services/ari/locale
/server/web/public/db.php
/server/web/public/assets/lang
/server/node/npm-debug.log
/server/web/app/storage/logs/system/messages.log
node_modules
.vagrant
/bin/composer.phar
.buildpath
.project
start.ps1
.env
Vagrant.yml
/ssl/active
dist/
/ssl
.version
.nyc_output/
.npm/
.config/
phpunit-reports/
backups
_ide_helper.php
.phpstorm.meta.php
.vscode/
server/web/tests/stubs
